Repository kickassCoderz/kickass-toolkit, pull requests merged in 2023-04, with the labels that each got.

#90 feat(toolkit-docs): migrated to nextra
  apps/toolkit-docs/.eslintrc.json
  apps/toolkit-docs/next-env.d.ts
  apps/toolkit-docs/next.config.mjs
  apps/toolkit-docs/nextra-docs.config.tsx
  apps/toolkit-docs/package.json
  apps/toolkit-docs/public/favicon.ico
  apps/toolkit-docs/src/pages/_app.mdx
  apps/toolkit-docs/src/pages/_meta.json
  apps/toolkit-docs/src/pages/about.mdx
  apps/toolkit-docs/src/pages/docs/_meta.json
  apps/toolkit-docs/src/pages/docs/data-service.mdx
  apps/toolkit-docs/src/pages/docs/data-service/_meta.json
  apps/toolkit-docs/src/pages/docs/data-service/creating-custom-service.mdx
  apps/toolkit-docs/src/pages/docs/data-service/crud-operations.mdx
  apps/toolkit-docs/src/pages/docs/data-service/data-client.mdx
  apps/toolkit-docs/src/pages/docs/data-service/existing-data-service-list.mdx
  apps/toolkit-docs/src/pages/docs/data-service/fetching-multiple-resources.mdx
  apps/toolkit-docs/src/pages/docs/data-service/quick-start.mdx
  apps/toolkit-docs/src/pages/docs/data-service/server-side-rendering.mdx
  apps/toolkit-docs/src/pages/docs/introduction.mdx
  apps/toolkit-docs/src/pages/docs/react-utils.mdx
  apps/toolkit-docs/src/pages/docs/react-utils/_meta.json
  apps/toolkit-docs/src/pages/docs/react-utils/quick-start.mdx
  apps/toolkit-docs/src/pages/index.mdx
  apps/toolkit-docs/src/pages/showcase.mdx
  apps/toolkit-docs/tsconfig.json
  pnpm-lock.yaml
Labels: Documentation

#104 Fix/Observers should work when useRef object is passed
  packages/react/src/hooks/useIntersectionObserver/useIntersectionObserver.test.tsx
  packages/react/src/hooks/useIntersectionObserver/useIntersectionObserver.ts
  packages/react/src/hooks/useResizeObserver/useResizeOberver.ts
Labels: Bug, Hooks

#105 feat(react): introduced stable version of createContextProvider
  apps/toolkit-docs/src/pages/docs/react/factories/create-context-provider.mdx
  package.json
  packages/react/src/factories/createContextProvider/createContextProvider.test.tsx
  packages/react/src/factories/createContextProvider/createContextProvider.tsx
  packages/react/src/hooks/useConsole/useConsole.ts
  packages/utils/src/guards/assert/assert.test.ts
  packages/utils/src/guards/assert/assert.ts
  pnpm-lock.yaml
Labels: React utils
